In [22]:
# Dataframe constructur syntax
import pandas as pd

# Creating an empty DataFrame
df = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

# Printing the empty DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

In [29]:
import pandas as pd
technologies = [[ "spark ", 20000, "30000"],
                ["pandas", 2500, "40days"],
               ]
df=pd.DataFrame(technologies)
# add columns & rows lebels to the Dataframe 
column_names = [ "courses", "free", "Duration"]
#row_labels = ["a","b"]
df=pd.DataFrame(technologies , columns = column_names)#index = row_labels)
print(df)
print(df.dtypes)
types = { 'courses': str, 'free': float, 'Duration': str }
df = df.astype(types)
print(df)
print(df.dtypes)

  courses   free Duration
0  spark   20000    30000
1  pandas   2500   40days
courses     object
free         int64
Duration    object
dtype: object
  courses     free Duration
0  spark   20000.0    30000
1  pandas   2500.0   40days
courses      object
free        float64
Duration     object
dtype: object

In [30]:
import pandas as pd

technologies = {
    'Courses' : ["spark", "pyspark", "hadoop"],
    'fee' : [20000, 25000, 260000],
    'duration' : ['30days', '40days', '35 days'],
    'Discount' : [1000, 23000, 15000]
}

df = pd.DataFrame(technologies)
print(df)

   Courses     fee duration  Discount
0    spark   20000   30days      1000
1  pyspark   25000   40days     23000
2   hadoop  260000  35 days     15000