IF STATEMENT:

In [8]:
"""syntex
if<statement>:
    block of this code """

'syntex\nif<statement>:\n    block of this code '

In [9]:
""" checking the desired data types using type() function :"""
var="raja"
if type(var) ==str:
    print("it is the python steing data types:")

it is the python steing data types:

In [10]:
var = 'raja'
if isinstance (var, str):
    print("it is python string data types:")

it is python string data types:

In [11]:
"""
FOr loop 
"""
name = "hello"
for char in name:
    print(char)

list = [1,2,3,4,5,6,7,8] # elemt=nets and item
for i in list:
    print(i)

new1 = []  # Make sure you initialize the list
for i in list:  # Replace 'list' with 'my_list' (or any variable that stores your list)
    new1.append({})  # Appending an empty dictionary to 'new1'
    if i == 2:
        new1.append(i + 1)  # Append (i + 1) to 'new1' if i is 2
    else:
        print(i)  # Print the current value of 'i'

h
e
l
l
o
1
2
3
4
5
6
7
8
1
3
4
5
6
7
8

In [16]:
""" when we are trying to run the LOOP function in Iterable objects """
keys = (1,2,3,4,5,6,7,8,9)
default_values = 100

new_dict = dict.fromkeys(keys,default_values)
print(new_dict)

for k in new_dict.keys():
    print(k)
for v in new_dict.values():
    print(v)
for k,v in new_dict.items():
    print(k,v)

{1: 100, 2: 100, 3: 100, 4: 100, 5: 100, 6: 100, 7: 100, 8: 100, 9: 100}
1
2
3
4
5
6
7
8
9
100
100
100
100
100
100
100
100
100
1 100
2 100
3 100
4 100
5 100
6 100
7 100
8 100
9 100

In [14]:
"""
CONTROL - FLOW STATEMENTS IN PYTHON::
======================================

"""

'\nCONTROL - FLOW STATEMENTS IN PYTHON::\n======================================\n\n'

In [36]:
"""IF STATEMENT """
#checking desigred data types using type() function:
""" cheking desired  data types using type() function """

var = 'raja'
if type(var) == str:
    print("It's a Python string data type")
# this statemet will not work due to the return value is not equal to string 

""" python isINSTANCE() function:

the isinstcane () function true if the specified object is of the specified type , otherwise false . """
if isinstance(var, str):
    print("is it integer data type")

""" how we can do mathematical way
if the given value in a variable is equal 10, it should print ' it is ten' """
var = 101
if var == 101:
    print("It is one hundred and one")

""" IF ---- ELSE ---- STATEMENT :
-------------------------------- 
if the given value is varuable is string then it should print properties , if not is should prinnt something like, it is not string data type. """
var = 123
if isinstance(var, str):
    print('string is the one of the iterable object from python')
    print('it has 47 in built function')
else:
    print(' the above variable is not an instance of string data type in python')

It's a Python string data type
is it integer data type
It is one hundred and one
 the above variable is not an instance of string data type in python

In [41]:
""" IF ---- elif---ELSE ---- STATEMENT :"""

"""elif function in python """
"""Please print the instance of the variable using python if else control statements """
var = '123'
if isinstance (var, int):
    print("it is int data type")
elif isinstance (var, int):
    print("it is string data type")
elif isinstance (var, float):
    print("is is float data type")

For look with else statement :

In [16]:
"""
if and only when the for loop does not hit the break statement , it executes the else part:
"""
for x in [1, 2, 3, 4, 5, 6, 7]:
    if x > 3:
        print(x)
        break  # Skip values greater than 3
    print(x)
else:
    print("it printed the items from the list up to {0}".format(x))

1
2
3
4

In [17]:
""" it executes the else part in for loop as it is not terminated via break statement """
for x in [1, 2, 3, 4, 5, 6, 7]:
    if x >= 0:
        print(x)
    else:
        break
else:
    print(" it printed the items from the lisut upto {0}".format(x))

1
2
3
4
5
6
7
 it printed the items from the lisut upto 7

In [20]:
""" the following example illustatues the else part execution in for loop whe it ilustared on all elements for that iterable object to the last item """
#Loop without break statement 
""" example 4"""
names = ["alice", "bob", "charlie"]
for i in names:
    if i == "eve":  # Correct variable
        print("found eve!")
        break
else:
    print("eve was not found")

eve was not found

In [33]:
"""
FOr LOOP in for LOOPS 
"""
numbers = [3] #list 
for number in numbers :
    #range fundion index start from 0
    for n  in range(number):
        print(n)

0
1
2

In [43]:
# the example : The following example illustarests the else part execution in for loop when it is iterated on alle elements 
# for that Iterable objets to the last item 
for x in [1,2,3,4,5]:
    if x<=3:
        print(x)
    else:
        continue 
else:
    print("it printed the items from the list upto {0}".format(x))

# example 4: 
names = ["alice", "bob", "charle"]

for name in names:
    if name == "bob":
        print("Bob is found")
        break
else:
    print("Bob is not found")

#*****************************************
# **************************************

1
2
3
it printed the items from the list upto 5
Bob is found

In [42]:
outer_iterable = [1, 2, 3]
inner_iterable = ['a', 'b', 'c']

for outer_item in outer_iterable:
    for inner_item in inner_iterable:
        print(f"Outer: {outer_item}, Inner: {inner_item}")

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
for num in numbers:
    print(num)

Outer: 1, Inner: a
Outer: 1, Inner: b
Outer: 1, Inner: c
Outer: 2, Inner: a
Outer: 2, Inner: b
Outer: 2, Inner: c
Outer: 3, Inner: a
Outer: 3, Inner: b
Outer: 3, Inner: c
1
2
3
4
5
6
7
8

In [47]:
num = 3
idx_range = range(num)
print(list(idx_range))  # Convert to list for better readability in print

for i in idx_range:  # Added "in" to the for loop
    print(i)  # Indented properly
for i in range(5):
    print(i)

[0, 1, 2]
0
1
2
0
1
2
3
4

In [54]:
numbers = [1,2,3]
for num in numbers:
    print(num)
    for idx in range(num):
        print(idx)

1
0
2
0
1
3
0
1
2

In [53]:
for i in range(num):
    print(i)

0
1
2

In [68]:

""" Start pattern printing """
numbers = [1,2,3]
for num in numbers :
    for inx in range(num):
        print("*")

        
"""programe two"""
for num in numbers:
    for idx in range(num):
        print("*", end=" ")

*
*
*
*
*
*
* * * * * *

In [86]:
"""Ternorny Operator 

writing IF statement in single operator """
"""Python is shorthand way to write an if else conditional expression is a single line it is also known as conditonal expression """
""" which is bigger """
num1 = 2
num2 = 3
num3 = 5
if num1 > num2:
    print(num1,'is the bigger one')
else:
    print(num2, ' is the bigger one')


"""" ternonry method """
print(num1, 'is the bigger one ' ) if num1>num2 else print(num2, ' is the bigger one')

num1 = 2
num2 = 3
num3 = 5
# whihc one is bigger 
print(num1) if num1 > num2 and num1 > num3 else print(num2 if num2 >num3 else num3)
# adding comments 
print(f"number one is bigger : {num1} ") if num1 > num2 and num1 > num3 else print(f" number 2 is bigger :{num2}" if num2 > num3 else 
                                                                                   print(f"number three is bigger :{num3}"))

3  is the bigger one
3  is the bigger one
5
number three is bigger :5
None

In [92]:
input_list = [1,2,3,4,5,6,7,8]
output = []
for num in input_list:
    if num%2 !=0:
        output.append(num)
print(output)

output = [num for num in input_list if num % 2 != 0]
print(output)

[1, 3, 5, 7]
[1, 3, 5, 7]

In [107]:
""" question number 2 """
input_list = [ 1,1,3,4,5,6,7,8,9,10]
#output_list = [(1,2),(1,1),(3,1)
#nave method 
out_put = []
for num in set(input_list):
    #if num not in seen:
        print(num)
        cnt = input_list.count(num)
        print(num, cnt)
        output.append((num, cnt))
print(out_put)

1
1 2
3
3 1
4
4 1
5
5 1
6
6 1
7
7 1
8
8 1
9
9 1
10
10 1
[]

In [108]:
""" question number 2 """
input_list = [ 1,1,3,4,5,6,7,8,9,10]
#output_list = [(1,1),(2,2),(3,3)
#nave method 
out_put = []
for num in input_list:
    #print(num)
    cnt = input_list.count(num)
    #print(num, cnt)
    output.append((num, cnt))
print(out_put)

[]

In [109]:
input_list = [1, 1, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []

# Use a set to track unique numbers
seen = set()

for num in input_list:
    if num not in seen:
        cnt = input_list.count(num)
        output_list.append((num, cnt))
        seen.add(num)

print(output_list)

[(1, 2), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)]

In [110]:
input_list = [1, 1, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []

for num in input_list:
    if not any(x[0] == num for x in output_list):  # Check if num is already in output_list
        cnt = input_list.count(num)
        output_list.append((num, cnt))

print(output_list)

[(1, 2), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)]

In [49]:
input_list = [1, 1, 3, 4, 5, 6, 7, 8, 9, 10]

output = [(num, input_list.count(num)) for num in set(input_list)]
print(output)

[(1, 2), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)]

In [50]:
out_put =[ (num, input_list.count(num)) for num in set(input_list)]
print(out_put)

[(1, 2), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)]

In [51]:
out_put = [(i , input_list.count(i) )for i in set(input_list)]
print(out_put)

[(1, 2), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)]

15th  class PM started :

In [45]:
"""nave method"""
input = (1,2,3,4,5,6,7,8,9,10)
out_put = []
for num in input:
    if num%2 ==0:
        out_put.append(num)
print(out_put)
#convertion  write from list to tubple 
print(tuple(out_put))
print(set(out_put))


""" pro method"""
out_put = (num for num in input if num % 2==0)
result = tuple(out_put)
print(result)

# there

print(out_put)
#print(next(out_put))
count = len(list(out_put))  # The generator is exhausted here
print("Count of even numbers:", count)


###################
output = ( num for num in out_put if num % 2 ==0)
result = tuple (output)
print(result)
for x in result:
          print(x)

[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)
{2, 4, 6, 8, 10}
(2, 4, 6, 8, 10)
<generator object <genexpr> at 0x0000026E6CB55C40>
Count of even numbers: 0
()

In [44]:
def main():
    input = [1,2,3,4,5,6,7,8,9,10]
    out_put = (num for num in input if num % 2 ==0)
    result= tuple(out_put)
    print(result)
if __name__ =="__main__":
    main()

(2, 4, 6, 8, 10)

In [74]:
input = (1,1,2,3,4,5,6,7,8,3,2,4,6,6,2,1,3,5,6,8,)
out_put = ()
for num in input:
    cnt = input.count(num)
    print(num, cnt)
    
    output.append((num, cnt))
result= tuple(out_put)
print(out_put)

1 3
1 3
2 3
3 3
4 2
5 2
6 4
7 1
8 2
3 3
2 3
4 2
6 4
6 4
2 3
1 3
3 3
5 2
6 4
8 2
()

In [115]:
def main():
    input = (1,1,2,3,4,5,6,7,8,3,2,4,6,6,2,1,3,5,6,8,)
    out_put = ((num, input.count(num)) for num in set(input))
    result = tuple (out_put)
    print("result tuple :" ,result)
if __name__=="__main__":
    main()

result tuple : ((1, 3), (2, 3), (3, 3), (4, 2), (5, 2), (6, 4), (7, 1), (8, 2))

In [117]:
input = (1,1,2,3,4,5,6,7,8,3,2,4,6,6,2,1,3,5,6,8,)
print(input)
output= tuple(input)
print(output)

output = { x for x in input }
print(output)

(1, 1, 2, 3, 4, 5, 6, 7, 8, 3, 2, 4, 6, 6, 2, 1, 3, 5, 6, 8)
(1, 1, 2, 3, 4, 5, 6, 7, 8, 3, 2, 4, 6, 6, 2, 1, 3, 5, 6, 8)
{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
""" Depth in comprehention"""

L = [1, 2, 3, 4, 5, 6, 7, 8]
out_put = [ x for x in L]
print(out_put)

#level 1
out_put = [ x for x in L]
print(out_put)

#level 2 
output = [ i for x in L for i in range(x) if i > 1]
print(output)

# level 3
output = [ i if i>5 else 'no' for x in L for i in range(x)]
print(output)

#level 4 :
output = [i if i >5 else 'no' for x in input_list for i in range(x) if i >1]
print(output)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 2, 3, 2, 3, 4, 2, 3, 4, 5, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7]
['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 6, 'no', 'no', 'no', 'no', 'no', 'no', 6, 7]
['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 6, 'no', 'no', 'no', 'no', 6, 7, 'no', 'no', 'no', 'no', 6, 7, 8, 'no', 'no', 'no', 'no', 6, 7, 8, 9]

In [190]:
""" DICT comprehention """
list = [1,2,3,4,5,6,7,8,10]
#out_put = { 1:1, 2:2} value : count 
result = { value : list.count(value ) for value in list}
#dict has property no dupes on keys 
print(result)

for val in set(list):
    #print (val)
    cnt = list.count(val)
    result[val] = cnt
   # result=(cnt)
print(result)

result = { vale : list.count(vale) for vale in list}
print(result)


""" print values and keys from python """
keys = ( keys for keys in result.keys())
print(tuple(keys))
value = ( value for value in result.values())
print(tuple (value ))

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 10: 1}
{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 10: 1}
{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 10: 1}
(1, 2, 3, 4, 5, 6, 7, 8, 10)
(1, 1, 1, 1, 1, 1, 1, 1, 1)

In [191]:
#example - 1
name = "Raja_the_great"
result = [i for i in name]
print(result)

['R', 'a', 'j', 'a', '_', 't', 'h', 'e', '_', 'g', 'r', 'e', 'a', 't']

In [2]:
def add_members(a,b):
    return a+b
def sub_stract_two_numbers(a,b):
    return a-b
def main():
    result = add_numbers ("raja" + "ranga")
    result1 = sub_stract_two_numbers(5,7)
    print(result)
    print(result1)
if __name__=="__main__":
    main()

TypeError: add_numbers() missing 1 required positional argument: 'b'