In [2]:
"""
python has following data types built i by default , in this categeries :


  - Numeric types : int , float, complexx
  - text type : str
  - sequence types : List, tuple, Range 
  - set Types : set 
  - mapping tye : dict
  - boolen type : bool 
  - None type : Nonetype 

  """

'\npython has following data types built i by default , in this categeries :\n\n\n  - Numeric types : int , float, complexx\n  - text type : str\n  - sequence types : List, tuple, Range \n  - set Types : set \n  - mapping tye : dict\n  - boolen type : bool \n  - None type : Nonetype \n\n  '

In [10]:
# Sequencential Data type :
"""List """



""" in the above example - mylist is the name of variable
the value assigned to mylist variable is :["apple", "banana","cherry"]
List has got multiple values enclosed in set of squre buckets .
That means multiple values , like string, ints , floats , and etc can be enclosed in a set of squre brackets and assigned it to variables 
It's a mandetary Giving [] at the both end of list of items separedted by comma in order to create list of objetcts in python 
we can insert and incluse differet types of items in a list objects """

list_of_fruits = ['apple', 'banana', 'cherry']   # it is a list of fruits 
print(list_of_fruits)
emp_data = [101, "Rathnakar ", 34, 20000, 121234567]
emp1=[102, "Rathnakar ", 34, 20000, 121234567]
print(emp_data)

# LIst methods, 
# 1.Dunders 

# 2.List method s

['apple', 'banana', 'cherry']
[101, 'Rathnakar ', 34, 20000, 121234567]

In [5]:
"""
1. Multiple Value Storing:
   - A list can store multiple values in a single variable.

2. Ordered:
   - List items are ordered. This means the items have a defined sequence that does not change on its own.
   - However, you can change the order by inserting or deleting items.
   - while string the list items into variable , system takes cre of the position of items in List 
   - said deffirently they are saved as it it.

3. Index Support:
   - List items can be accessed using their index.

4. Mutable (Changeable):
   - Lists are mutable, meaning their content can be changed (e.g., add, remove, or modify items).
    - the list is changebale , meaning that we can change , add , and remove items in a list after items in the set of items after it has been created

"""

# List methods and attributes:
# dir(list_of_fruits)
# Output:
# ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__',
#  '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__',
#  '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__',
#  '__reduce__', '__reduce_ex__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index',
#  'insert', 'pop', 'remove', 'reverse', 'sort']

# Example of a list:
list_of_fruits = ['apple', 'banana', 'cherry']  # This is a list of strings representing fruits.

# Checking the type of the list:
type(list_of_fruits)
# Output: <class 'list'>

# Changing the list to contain a single integer:
list_of_fruits = [2]
# Now, the list contains only the integer 2.

In [19]:
list_of_fruits = ['apple', 'banana', 'cherry']  # Initialize the list with strings
print(type(list_of_fruits) ) # Check the type of the list
print(list_of_fruits[2])  # Reassign the list to contain only the integer 2

<class 'list'>
cherry

In [7]:
#enumerate  : enumerate creates the index for the each item in an Iterable obkect 
# but when we apply enumerate , it doens not garentee the order of index generation for the items in the set due to it's unordered features 

list = ['a', 10, 12.0, 'a', 'b', 'd', 'abc']
for idx, value in enumerate(list):
    print(idx, value)
#print(lenlist(-1))
print(len(list))


# list_item_max_index_value = len(list) -1;
# no_of_items_in_a_list = len(list):
# list_item)min_indes_value = 0(always):

0 a
1 10
2 12.0
3 a
4 b
5 d
6 abc
7

In [11]:
"""#5. Constructing a list objects

#creating a empty list 
empty_list = []
# creating a list with elements 
list = [1,2,'raja']
# using a list constructure 
list_constructure = list()

#conversations list 
 #we can create convert tauple and list in python 
list_constructue = list()

# convseratuio list :
we can create tuple set and list 
list_from_tup;e = list((1,2,3 , 'rani'))

#nested_lists (list_within_list):
nested_list = [[1,2,3], ['a','b', 'c',],[true, false]

"""

"#5. Constructing a list objects\n\n#creating a empty list \nempty_list = []\n# creating a list with elements \nlist = [1,2,'raja']\n# using a list constructure \nlist_constructure = list()\n\n#conversations list \n #we can create convert tauple and list in python \nlist_constructue = list()\n\n# convseratuio list :\nwe can create tuple set and list \nlist_from_tup;e = list((1,2,3 , 'rani'))\n\n#nested_lists (list_within_list):\nnested_list = [[1,2,3], ['a','b', 'c',],[true, false]\n\n"

In [28]:
#Action : adds an element at the end of the list 
list_of_fruits = ['apple', 'banana', 'cherry']
list_of_fruits
"""1. Append. 
"""
list_of_fruits = ['apple', 'banana', 'cherry']
list_of_fruits.append('Orange')

In [32]:
list_of_fruits = ['apple', 'banana', 'cherry']

# Append a new fruit to the list
list_of_fruits.append('orange')
list_of_fruits.append('Pappaya')

print(list_of_fruits)
#- it adds only single element at one go.......
#- it add the element at the end of the list ----in other word  we cn not insert the single elemtn at required position/index

['apple', 'banana', 'cherry', 'orange', 'Pappaya']

In [48]:
""" extend 
mthod sign  --> this is the method name , It belongs to the list class and is used to add multiple elemnets from an Iterable eo the end of the list 

def extend (iterable : Iterable [str],/) -> None """
list_of_fruits = ['apple', 'banana', 'cherry']
list_of_fruits.extend(['orange', 'grape'])

print(list_of_fruits)

['apple', 'banana', 'cherry', 'orange', 'grape']

In [57]:
""" INDEX --> this method is to find the 1st index value of the string
"""   
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
first_index = list_of_fruit.index('banana')
second_index = list_of_fruit.index('banana', first_index + 1)

print(second_index)
#functionality : add an element at the specified position
#'mango' [element] --> 3 [index position]

3

In [28]:
""" POP  __ remove the element at the specified posotion 
"""
"""Question is llike is we need to remove the banana from given python list make sure second occurence of the element is remove 
"""
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
first_occurrence = list_of_fruit.index('banana', list_of_fruit.index('banana') + 1)
list_of_fruit.pop()  # Remove the last element
list_of_fruit.pop(first_occurrence)  # Remove the second occurrence of 'banana'

print(list_of_fruit)

['apple', 'banana', 'cherry']

In [32]:
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
first = []
first_occurene = list_of_fruit.index('banana', list_of_fruit.index('banana') + 1)
list_of_fruit.pop()
list_of_fruit.pop(first_occurene)
first.append(list_of_fruit)
print(first)
print(list_of_fruit)

[['apple', 'banana', 'cherry']]
['apple', 'banana', 'cherry']

In [30]:
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
first = []
first_occurene = list_of_fruit.index('banana', list_of_fruit.index('banana') + 1)
list_of_fruit.pop()
list_of_fruit.pop(first_occurene)
first.append(list_of_fruit)
print(first)
print(list_of_fruit)

[['apple', 'banana', 'cherry']]
['apple', 'banana', 'cherry']

In [40]:
"""
Remove the first item with the specified value 
"""
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
first_occurrence = list_of_fruit.index('banana')  # Find the first occurrence of 'banana'
print(first_occurrence)

# Remove 'banana' from the list after the first occurrence
# First slice the list from the next element onward and then remove 'banana'
remaining_fruits = list_of_fruit[first_occurrence + 1:]
remaining_fruits.remove('banana')

# Reassign the list with the modified part
list_of_fruit = list_of_fruit[:first_occurrence + 1] + remaining_fruits

print(list_of_fruit)

1
['apple', 'banana', 'cherry', 'orange']

In [42]:
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
list_of_fruit.clear()
print(list_of_fruit)

[]

In [29]:
""" COunt 
"""
list_of_fruit = ['apple', 'banana', 'cherry', 'banana', 'orange']
list_of_fruit.count('banana')
print(list_of_fruit)

list = [1,2,3,3,4,2,3,4,5,7,2,5,8,1,0]
list.count(3)
print(list)

for e in set(list):
    print(e, "-->", list.count(e))

['apple', 'banana', 'cherry', 'banana', 'orange']
[1, 2, 3, 3, 4, 2, 3, 4, 5, 7, 2, 5, 8, 1, 0]
0 --> 1
1 --> 2
2 --> 3
3 --> 3
4 --> 2
5 --> 2
7 --> 1
8 --> 1

In [30]:
from typing import List

def copy() -> List[str]:
    return ["example", "string", "list"]

result = copy()
print(result)

['example', 'string', 'list']

In [31]:
list_of_hundreds = [100, 200, 300, 400, 500, 600]
list = list_of_hundreds.copy()
print(list)

[100, 200, 300, 400, 500, 600]

In [43]:
list_of_hundreds = [100, 300, 400, 500, 600]
list_of_adds = list_of_hundreds.copy()
list_of_adds.append(600)
print(list_of_hundreds)
print(list_of_adds)


""" when we change an exsting element of the main list , it Does not effect the shallow copy of the course list """

#Theree
import copy
a= [[2,6,3],[4,5,6]]
b=copy.copy(a)
b[0][0]=99
print(b)

[100, 300, 400, 500, 600]
[100, 300, 400, 500, 600, 600]
[[99, 6, 3], [4, 5, 6]]

In [54]:
input_list = [1,2,3,4,5,6,7,8,9,10]
print(input_list)
def inset_v3(input_list):
    empty_list=[]
    empty_list2=[]
    position = 2
    value = 5

    for idx, v in enumerate(input_list):
        if idx >=position:
            empty_list.append(V)
        else:
            empty_list = append(V)
    return empty_list2 + empty_list 
result = insert_v3(input_list)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
input_list = [1,2,3,4]
print(input_list)
def inset_v3(p, Value ,input_list):
    empty_list=[]
    empty_list2=[]
    position = 2
    value = 5

    for idx, v in enumerate(input_list):
        if idx >=p:
            empty_list.append(V)
        else:
            empty_list = append(V)
    return empty_list2 + empty_list 

positon = 3
value = 5
result = insert_v3(input_list)
print(result)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [70]:
#input_list = [1, 2, 3, 4]

# Change the input list and specify position and value
input_list = [10, 30, 40,60]
position = 2
value = 25
print("Original List:", input_list)


def insert_v3(p, value, input_list):
    empty_list = []
    for idx, v in enumerate(input_list):
        if idx == p:
            empty_list.append(value)  # Insert the value at the specified position
        empty_list.append(v)  # Add the original element
    return empty_list



result = insert_v3(position, value, input_list)
print("Updated List:", result)

Original List: [10, 30, 40, 60]
Updated List: [10, 30, 25, 40, 60]

In [80]:
#from data_types_in_python import insert_v3  # Import the insert_v3 function

position = 3  # Position where the value should be inserted
value = 20  # Value to insert
input_list = [2, 3, 4, 5, 6, 7, 8, 8, 9]  # Define the input list

# Call the insert_v3 function
result = insert_v3(position, value, input_list)

# Print the result
print("Updated List:", result)

Updated List: [2, 3, 4, 20, 5, 6, 7, 8, 8, 9]

In [99]:
list_of_fruits = ["apple", "banana", "cherry", "banana"]
first_index = list_of_fruits.index("banana")
print(first_index)

# Find the second occurrence of "banana"
second_index = list_of_fruits.index("banana", first_index + 1)

# Create a list and append something to it
my_list = []  # Use a different name to avoid using 'list'
my_list.append("some_value")  # You can append any value you like

# Print the list and second index
print(my_list)
print(second_index)

1
['some_value']
3

Dictionary :

In [104]:
""" Dictionary are used to store the values in key : value paris 
keu and it's value rea represend """

emp_data = {"emp_id ": 101,
            "name": "Rathnakar", 
            "phone_numbers" :[70321234345, 9440235316]}
print(type(emp_data))

<class 'dict'>

In [1]:
""" properties of the dict 
* used to store the multiple values in a dict object in python 
"""
emp_data = {"emp_id ": 101,
            "name": "Rathnakar", 
            "phone_numbers" :[70321234345, 9440235316]}
print(type(emp_data))

""" Data valyes Pattern : 
Data values pattern should be key : value pair system """


""" It is orderd 
We have many versions of python right from it's inception the current 3.13 ...............
it is set concept , it would be there until 3.7 libraries .
"""
emp_data = {"emp_id ": 101,
            "name": "Rathnakar", 
            "phone_numbers" :[70321234345, 9440235316]}
print(type(emp_data))


""" 4. changeble / mutable 
* Like list object in python, We can change the dictionary objects but there is limitation on part of dict mutability , put in a nutshell, we can not change the keys 
ONce they are created m but we can change the values of thr respective keys ....
"""
emp_data = {"emp_id ": 101,
            "name": "Rathnakar", 
            "phone_numbers" :[70321234345, 9440235316]}
print(type(emp_data))

<class 'dict'>
<class 'dict'>
<class 'dict'>

In [3]:
""" Dict in buit """
dir(emp_data)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [18]:
# Assuming emp_data is your dictionary
keys = emp_data.keys()
values = emp_data.values()
items = emp_data.items()

print("Keys:", keys)
print("Values:", values)
print("Items:", items)

Keys: dict_keys(['emp_id ', 'name', 'phone_numbers'])
Values: dict_values([101, 'Rathnakar', [70321234345, 9440235316]])
Items: dict_items([('emp_id ', 101), ('name', 'Rathnakar'), ('phone_numbers', [70321234345, 9440235316])])

In [36]:
""" Dict in build method """
''' A. Keys 
This method is used to get all the keys of the given dictionary

Method of signature 
'''
# Correctly defining the dictionary
emp_data = {"emp_id ": 101,
            "name": "Rathnakar", 
            "phone_numbers" :[70321234345, 9440235316]}
# Accessing keys
keys = emp_data.keys()
print("Keys:", keys)

# Accessing values
values = emp_data.values()
print("Values:", values)

# Accessing items
items = emp_data.items()
print("Items:", items)

# Checking the type of items
result = type(items)
print("Type of items:", result)

# Accessing the first item
first_item = list(items)[0]  # Convert items to a list and get the first element
print("First item:", first_item)

# Accessing employee data for a specific 'emp_id'
emp_ids = emp_data.get(101)  # Get data for emp_id 101
print("Employee data for emp_id 101:", emp_ids)


result2= emp_data['name']
print(result2)

""" Update
it will add the new item at the end if the dict object 
"""
result3= emp_data["salary"] = 2000
print(result3)


# there is no possibility to change the dict using the index we can retrive the values

Keys: dict_keys(['emp_id ', 'name', 'phone_numbers'])
Values: dict_values([101, 'Rathnakar', [70321234345, 9440235316]])
Items: dict_items([('emp_id ', 101), ('name', 'Rathnakar'), ('phone_numbers', [70321234345, 9440235316])])
Type of items: <class 'dict_items'>
First item: ('emp_id ', 101)
Employee data for emp_id 101: None
Rathnakar
2000

In [59]:
# Example 1: popitem() - Removes the last key-value pair
emp_data = {"emp_id": 101, "name": "Rathnakar", "phone_numbers": [70321234345, 9440235316]}
r = emp_data.popitem()  # Pop the last key-value pair
print(r)  # Output: ('phone_numbers', [70321234345, 9440235316])

# Example 2: pop() - Removes a specific key
emp_data = {"emp_id": 101, "name": "Rathnakar", "phone_numbers": [70321234345, 9440235316]}
r = emp_data.pop("name")  # Pop the "name" key
print(r)  # Output: Rathnakar

# Example 3: pop() with a default value for missing keys
emp_data = {"emp_id": 101, "name": "Rathnakar", "phone_numbers": [70321234345, 9440235316]}
r1 = emp_data.pop("emp_id", 'There is no key named emp_id')  # Pop "emp_id", or return a default message if not found
print(r1)  # Output: 101

# Example 4: Error in original code (pop() without key is invalid)
# r1 = emp_data.pop()  # This would raise a TypeError because pop() requires a key
# we need to guev at least one parameter for it should  be exsting key to avoid an key errors

('phone_numbers', [70321234345, 9440235316])
Rathnakar
101

In [10]:
# set default 
"""
set Default 

It actually searches for the key existance if the key is not in the dict given , then it will return default values provided through the set default methods 
when the key is not presented in the dict given it adds the key at the end of the dict and it asss the values against that key passed through the set default method 
if the key existed then it only teturns the values of the key passed through the set defalut methods 

"""
car = {
    "brand": "ford",
    "model": "mustang",
    "year": 1964
}

x = car.setdefault("car", "no value ")
print(x)

############# from keys 
keys = [1.0, 1.1, 1.3]
default_value = 100
float_dict = dict.fromkeys(keys, default_value)
print(float_dict)

no value
{1.0: 100, 1.1: 100, 1.3: 100}

about   SET in python 
it is unordered , unchageble and unindexed 

* multi values : yes 
* Duplication : No
* mutability : no 
NOte : Set Items are uncgangeble , but you can remove items and add new items 
* indexing 
* ordered

In [14]:
myset = {" Apple ", "banana", "triangle"} # Fixed the missing quote for "triangle"
myset = set(myset)  # Convert the tuple into a set
print(myset)

{'banana', ' Apple ', 'triangle'}

h
e
l
l
o
1
2
3
4
5
6
7
8
1
3
4
5
6
7
8

{1: 100, 2: 100, 3: 100, 4: 100, 5: 100, 6: 100, 7: 100, 8: 100, 9: 100}
1
2
3
4
5
6
7
8
9
100
100
100
100
100
100
100
100
100
1 100
2 100
3 100
4 100
5 100
6 100
7 100
8 100
9 100