In [4]:
import pandas as pd

# Stage table as a DataFrame
data = {
    "CustomerID": [1, 2],
    "Name": ["John Doe", "Jane Smith"],
    "Age": [28, 34],
    "Gender": ["Male", "Female"],
    "City": ["New York", "Los Angeles"],
    "Email": ["johndoe@example.com", "janesmith@example.com"],
    "PurchaseAmount": [150.75, 230.50],
}
df = pd.DataFrame(data)

# Create Parent Table
parent_table = df[["CustomerID", "Name", "Age", "Gender", "PurchaseAmount"]]
print("Parent Table:")
print(parent_table)

# Create Nested/Child Table
nested_table = df[["CustomerID", "City", "Email"]]
print("\nNested Table:")
print(nested_table)

Parent Table:
   CustomerID        Name  Age  Gender  PurchaseAmount
0           1    John Doe   28    Male          150.75
1           2  Jane Smith   34  Female          230.50

Nested Table:
   CustomerID         City                  Email
0           1     New York    johndoe@example.com
1           2  Los Angeles  janesmith@example.com

In [8]:
""""
PPP   -- AAA --- NNN -- DDD ---AAA --- SSS
"""
""" Pandas is a python library , pandas used to analyse the data """

# sample example 
import pandas as pd

df = pd.read_csv(r'C:\ENV\PREP\2025\python\data\customer.csv')
print(df.to_string())

   CustomerID           Name  Age  Gender           City                     Email  PurchaseAmount
0           1       John Doe   28    Male       New York       johndoe@example.com          150.75
1           2     Jane Smith   34  Female    Los Angeles     janesmith@example.com          230.50
2           3  Michael Brown   45    Male        Chicago  michaelbrown@example.com          125.00
3           4    Emily Davis   23  Female        Houston    emilydavis@example.com          300.20
4           5  Daniel Wilson   38    Male  San Francisco  danielwilson@example.com          275.35
5           6   Sarah Miller   29  Female        Seattle   sarahmiller@example.com          190.00
6           7  David Johnson   41    Male         Denver  davidjohnson@example.com          320.75
7           8    Laura White   32  Female         Boston    laurawhite@example.com          215.80

In [11]:
""" what is pandas

* Pandas is a python library used for working with data sets 
* is has functions for analyzing, cleaning , exploring , and manipulating data 
the name pandas has reference to both "panel Data" and python " python data analysis : and was created by wesmckinney in 2008"""

""" pandad allows to analyse big data and make conclusions based on statical throties 
pandas can clean messy data sets and make them readable and relevent 
relevent data is very importent in data science """

' pandad allows to analyse big data and make conclusions based on statical throties \npandas can clean messy data sets and make them readable and relevent \nrelevent data is very importent in data science '

In [18]:
import pandas as rt
mydataset = {
    'cars ' : ["bmw", "volvo","ford"],
    'passings' :[3,7,2]
}
myver = rt. DataFrame(mydataset)
print(myver)

   cars   passings
0    bmw         3
1  volvo         7
2   ford         2

In [19]:
import pandas as pd
print(pd.__version__)

2.1.4

In [26]:
""" what is Series ?
A pandas series is like a column in a table 
It is a One dimentioanl array hodling data of any type """
import pandas as pd
a = [1,7,2]
myver = pd.Series(a)
print(myver)
# Labels --> if nothing else is specified , the values are labeled with their index number , first value has index 0, second value has index 1 etc 
# the label can be used to accecc specified value 
print(myver[0])
print(myver[1])

0    1
1    7
2    2
dtype: int64
1
7